:root {
	/* Naming of variables responds to PrimeNg components but with custom "app" prefix. */

	/*
		Soho palette copied from
		https://github.com/primefaces/primeng.git
		/apps/showcase/components/layout/configurator/app.configurator.component.ts
	*/
	--app-surface-0: #ffffff;
	--app-surface-50: #ececec;
	--app-surface-100: #dedfdf;
	--app-surface-200: #c4c4c6;
	--app-surface-300: #adaeb0;
	--app-surface-400: #97979b;
	--app-surface-500: #7f8084;
	--app-surface-600: #6a6b70;
	--app-surface-700: #55565b;
	--app-surface-800: #3f4046;
	--app-surface-900: #2c2c34;
	--app-surface-950: #16161d;

	/* Amber palette from Aura PrimeNg theme */
	--app-primary-50: #fffbeb;
	--app-primary-100: #fef3c7;
	--app-primary-200: #fde68a;
	--app-primary-300: #fcd34d;
	--app-primary-400: #fbbf24;
	--app-primary-500: #f59e0b;
	--app-primary-600: #d97706;
	--app-primary-700: #b45309;
	--app-primary-800: #92400e;
	--app-primary-900: #78350f;
	--app-primary-950: #451a03;
}
