:root {
	/* Naming of variables responds to PrimeNg components but with custom "app" prefix. */

	/*
		Soho palette from
		https://github.com/primefaces/primeng.git
		/apps/showcase/components/layout/configurator/app.configurator.component.ts
	*/
	--app-surface-0: #ffffff;
	--app-surface-50: #ececec;
	--app-surface-100: #dedfdf;
	--app-surface-200: #c4c4c6;
	--app-surface-300: #adaeb0;
	--app-surface-400: #97979b;
	--app-surface-500: #7f8084;
	--app-surface-600: #6a6b70;
	--app-surface-700: #55565b;
	--app-surface-800: #3f4046;
	--app-surface-900: #2c2c34;
	--app-surface-950: #16161d;

	--app-primary-50: #ecfdf5;
	--app-primary-100: #d1fae5;
	--app-primary-200: #a7f3d0;
	--app-primary-300: #6ee7b7;
	--app-primary-400: #34d399;
	--app-primary-500: #10b981;
	--app-primary-600: #059669;
	--app-primary-700: #047857;
	--app-primary-800: #065f46;
	--app-primary-900: #064e3b;
	--app-primary-950: #022c22;
}
