:root {
	/* Naming of variables responds to PrimeNg components but with custom "app" prefix. */

	/*
		Soho palette copied from
		https://github.com/primefaces/primeng.git
		/apps/showcase/components/layout/configurator/app.configurator.component.ts
	*/
	--app-surface-0: #ffffff;
	--app-surface-50: #ececec;
	--app-surface-100: #dedfdf;
	--app-surface-200: #c4c4c6;
	--app-surface-300: #adaeb0;
	--app-surface-400: #97979b;
	--app-surface-500: #7f8084;
	--app-surface-600: #6a6b70;
	--app-surface-700: #55565b;
	--app-surface-800: #3f4046;
	--app-surface-900: #2c2c34;
	--app-surface-950: #16161d;

	/* Indigo palette from Aura PrimeNg theme */
	--app-primary-50: #eef2ff;
	--app-primary-100: #e0e7ff;
	--app-primary-200: #c7d2fe;
	--app-primary-300: #a5b4fc;
	--app-primary-400: #818cf8;
	--app-primary-500: #6366f1;
	--app-primary-600: #4f46e5;
	--app-primary-700: #4338ca;
	--app-primary-800: #3730a3;
	--app-primary-900: #312e81;
	--app-primary-950: #1e1b4b;
}
