html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0; /* Override browser default style */
}

.horizontal-flex {
	display: flex;
	flex-direction: row;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
}

.card-padding {
	padding: var(--app-card-body-padding);
}

.gap-1 {
	gap: 1rem;
}

label + input,
label + p-date-picker {
	margin-top: 0.5rem;
}
