.content {
	padding-top: 20px;
	padding-left: 35px;
	padding-right: 35px;
}

.background-image {
	background-image: url(https://www.primefaces.org/cdn/primevue/images/layout/pattern.png);
	background-position: top;
	background-repeat: no-repeat;
	background-size: auto 20rem;
}
