:root {
	/* Fonts */
	font-size: 14px;
	font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-feature-settings: "cv02", "cv03", "cv04", "cv11";

	/* Colors */
	color-scheme: light dark;

	color: light-dark(
		var(--app-surface-900),
		var(--app-surface-50));

	background-color: light-dark(
		var(--app-surface-50),
		var(--app-surface-950));

	/* Palette (naming responds to PrimeNg components) */
	--app-surface-0: #ffffff;
	--app-surface-50: #f3f3f3;
	--app-surface-100: #e7e7e8;
	--app-surface-200: #cfd0d0;
	--app-surface-300: #b7b8b9;
	--app-surface-400: #9fa1a1;
	--app-surface-500: #87898a;
	--app-surface-600: #6e7173;
	--app-surface-700: #565a5b;
	--app-surface-800: #3e4244;
	--app-surface-900: #262b2c;
	--app-surface-950: #0e1315;

	--app-primary-50: #ecfdf5;
	--app-primary-100: #d1fae5;
	--app-primary-200: #a7f3d0;
	--app-primary-300: #6ee7b7;
	--app-primary-400: #34d399;
	--app-primary-500: #10b981;
	--app-primary-600: #059669;
	--app-primary-700: #047857;
	--app-primary-800: #065f46;
	--app-primary-900: #064e3b;
	--app-primary-950: #022c22;
}
